.navbar {
  .navbar-brand {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700 !important;
    font-size: 38px !important;
    line-height: 52px !important;
    color: #ffffff !important;
    @media screen and (max-width: 1024px) {
      font-size: 20px !important;
    }
  }
  .navbar-toggler {
    color: #ffffff;
  }
  .navbar-nav {
    .nav-item {
      margin-left: 30px;
      @media screen and (max-width: 1024px) {
        &:hover {
          background-color: #ffffff;
        }
      }
      .nav-link {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #bbbdc3 !important;
        font-family: "Nunito", sans-serif;
        @media screen and (max-width: 1024px) {
          &:hover {
            color: black !important;
          }
        }
      }
      @media screen and (max-width: 1024px) {
        margin-left: 0;
      }
    }
  }
  .nav-button {
    display: flex;
    justify-content: space-between;
    .btn:nth-child(2) {
      width: 114px;
      height: 48px;
      background: #4086f5;
      border-radius: 12px;
    }
  }
}
